<%layout("/layouts/boilerplate.ejs")%>
<div id="filters">  

  <div id="filterQuery">
    <i class="fa-solid fa-filter"></i>
    <p>Filter</p>
  </div>
  <div id="filter-Opns">

    <div id="hide-filters"><i class="fa-solid fa-xmark"></i></div>
  <a href="/listings">
    <div class="filter">
      <i class="fa-solid fa-border-all"></i>
      <p>All</p>
    </div>
  </a>
  <a href="/listings/filters?q=trending">
    <div class="filter">
      <i class="fa-solid fa-fire"></i>
      <p>Trending</p>
    </div>
  </a>
  <a href="/listings/filters?q=room">
    <div class="filter">
      <i class="fa-solid fa-bed"></i>
      <p>Room</p>
    </div>
  </a>
  <a href="/listings/filters?q=hotel">
    <div class="filter">
      <i class="fa-solid fa-hotel"></i>
      <p>Hotel</p>
    </div>
  </a>
  <a href="/listings/filters?q=pools">
    <div class="filter">
      <i class="fa-solid fa-water-ladder"></i>
      <p>Amazing pools</p>
    </div>
  </a>
  <a href="/listings/filters?q=cool_places">
    <div class="filter">
      <i class="fa-solid fa-tree"></i>
      <p>Snowy area</p>
    </div>
  </a>
  <a href="/listings/filters?q=mountain">
    <div class="filter">
      <i class="fa-solid fa-mountain-city"></i>
      <p>Mountains</p>
    </div>
  </a>
  <a href="/listings/filters?q=food">
    <div class="filter">
      <i class="fa-solid fa-mug-hot"></i>
      <p>Bed & breakfast</p>
    </div>
  </a>
      
</div>
      <!-- search query -->
      <div class="navbar-nav ms-auto search-Menu-box2">
        <form class="d-flex" role="search">
          <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search destinations" aria-label="Search"> &nbsp; &nbsp;
          <button class="btn search-btn my-2 my-sm-0" type="submit"> Search</button>
        </form>
      </div>
 
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch tax_switch_bar">
      <label class="form-check-label" for="flexSwitchCheckDefault"><b>Display total after taxes</b></label>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    </div>
  </div>
</div>

  <div class="Listings-container">
    <%for(let listing of allListings){%>
      <a href="/listings/<%=listing._id%>" class="show-info">
        
            <div class="card listing-card" >
                <img 
                class="listing-img"
                src="<%=listing.image.url%>" 
                alt="listing_image">

                <div class="card-img-overlay"></div>
                 
                <div class="card-body">
                   <!-- rating show  -->
                   <div id="title-rating-box">
                     <p><b><%=listing.title%></b></p>

                     <% let ratingSum=0%> 
                     <%for(let review of listing.reviews){%>
                     <%ratingSum+=review.rating%> 
                      <%}%>

                      <%let rating=listing.reviews.length==0?0:ratingSum/listing.reviews.length%> 
                      <%rating=rating.toString()%> 
                      <% let org_rating=""%> 
                      <%if(rating.length==1 && rating!="0"){%>
                        <%org_rating=rating.toString()%>
                        <%}else{%>
                          <%org_rating=rating.substring(0,3)%>
                        <%}%>

                        <div>
                          <!-- show rating of listing -->
                        <%if(org_rating!="0"){%>
                        <span><b><%=org_rating%></b></span>
                        <i class="fa-solid fa-star" style="color: orange"></i>
                        <%}%>
                          </div>
                      </div> 

                            <div>
                              <%if(listing.location.length>20){%>
                               <span><%=listing.location.substring(0,25)%>..,</span> 
                              <%}else{%>
                                <span><%=listing.location%>,</span> 
                                  <%}%>
                              <span><%=listing.country%></span>
                            </div>
                            <p class="index-price">&#8377;<%= listing.price.toLocaleString("en-IN") %>/night<span class="tax-info"> +18% GST</span></p>
                            
                          </div>
                          
                        </div>
                      </a>
                      <%}%>
                    </div>  
                        
     <Script>
      let totalPrice=document.getElementById("flexSwitchCheckDefault");
      totalPrice.addEventListener("click",()=>{
        let tax_info=document.querySelectorAll(".tax-info");
        // console.log(tax_info)
        for(let tax of tax_info){
          if(tax.style.display!="inline"){
              tax.style.display="inline";
          }else{
            tax.style.display="none";
          }
        }
      })

      // filterQuery
let hideFilters=document.getElementById("hide-filters");

hideFilters.addEventListener("click",()=>{
document.getElementById("filter-Opns").style.display="none";
})

let filterQuery=document.getElementById("filterQuery");

filterQuery.addEventListener("click",()=>{
  if(document.getElementById("filter-Opns").style.display!="flex"){
    document.getElementById("filter-Opns").style.display="flex"
  }else{
     document.getElementById("filter-Opns").style.display="none"
  }
})
     </Script>               