<%layout("/layouts/boilerplate.ejs")%>

  <script>
    const mapToken = "<%= process.env.MAP_TOKEN%>";
  </script>

  <div class="top-of-show-container">
    <!-- host profile section -->
    <div class="show-host">
      <p class="show-details">Hosted by:</p>

      <% const date=new Date(listing.owner.createdAt); 
      let monthName=date.toLocaleString('default', { month: 'long' });
        const year=date.getFullYear();
         %>


        <div class="profile-section">
          <a href="/user/<%=listing.owner._id%>">
            <img src="<%=listing.owner.image%>" class="host-img" alt="host_image" />
          </a>

          <span class="card-text">
            <%=listing.owner.username%>
          </span>
        </div>
        <div class="card-body">
          <p class="card-text-var mt-4"> Email verification &nbsp;&nbsp;<i class="fa-solid fa-check"
              style="color: #23862e"></i> </p>

          <p class="card-text-var mt-3"> Contact verification &nbsp;&nbsp;
            <%if(listing.owner.contact){%>
              <i class="fa-solid fa-check" style="color: #23862e"></i>
              <%}else{%>
                <i class="fa-solid fa-exclamation" style="color: #e70d0d"></i>
                <%}%>
          </p>
        </div>
        <div class="date"> At Airbnb since : <span>
            <%= monthName.toLowerCase() %>
          </span>
          <span>
            <%=year%>
          </span>
        </div>

    </div>
    <!-- listing profile section -->
    <div class="card  show-listing">
      <img src="<%=listing.image.url%>" class="listing-card-img" alt="listing_image" />

      <div class="card-body">
        <p class="card-text card-text-title"><b>
            <%=listing.title%>
          </b></p>
        <p class="listing-para mb-3">
          <%=listing.description%>
        </p>
        <p class="listing-para mb-3">
          <%=listing.location%>,<%=listing.country%>
        </p>
        <p class="listing-para mb-2">
          price :&#8377;<%= listing.price.toLocaleString("en-IN") %>/night
        </p>
      </div>
      <%if(currUser && currUser._id.equals(listing.owner._id)) {%>
        <div class="btn-row">
          <div>
            <button class="btn edit-btn show-edit-btn">
              <a href="/listings/<%=listing._id%>/edit">Edit</a>
            </button>
          </div>
          <div>
            <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
              <button class="btn btn-dark">Delete</button>
            </form>
          </div>
        </div>
        <%}else{%>
          <div class="btn-row">
            <button class="btn booking-btn">
              <a href="/">Book now!</a>
            </button>
          </div>
          <%}%>
    </div>
  </div>


  <hr />
  <!-- -------------Review form section----------------- -->
   <div class="review-query-container">
    <div class="Review-map-container">
      <%if(currUser){%>
        <div class="leave-review">
          <form method="post" action="/listings/<%=listing._id%>/reviews" class="needs-validation" novalidate>
            <p class="show-details">Leave review</p>
            <fieldset class="starability-slot">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
    
            <div>
              <label for="comment" class="form-label">Comment</label>
              <textarea name="review[comment]" id="comment" class="form-control" required></textarea>
              <div class="invalid-feedback">
                leave here some comment about your experience with this place
              </div>
            </div>
    
            <button class="btn btn-dark mb-2 mt-4">Submit</button>
          </form>
        </div>
        <%}%>
        <div class="map-container">
          <p class="show-details">Where you'll be</p>
          <div id="map"></div>
        </div>
    </div>
 
    
      <!-- ---------------------review section----------------------------- -->
         <div class="show-review">
           
           <p class="show-details">All Reviews</p>
        <%for(let review of listing.reviews) {%>

          <div class="card review-card">
            <div class="review-profile">
              <a href="/">
                <img src="<%=listing.owner.image%>" class="r_user-img" alt="r_user_image" />
              </a>
    
              <span class="listing-para">
                <%=review.author.username%>
              </span>
            </div>
            <div class="card-body">
              <p class="listing-para"><%=review.comment%></p>
            </div>
            <div class="delbtn-star">
              <p class="starability-result" data-rating="<%=review.rating%>"></p>
              <%if(currUser && currUser._id.equals(review.author._id)) {%>
                  <form method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                    <button class="btn btn-dark">Delete</button>
                  </form>
                <%}%>
            </div>
          </div>
          <%}%>
      </div>
    </div>
 

      <script src="/js/map.js"></script>